import-dependencies {
	property-xml: xml( assets/mock-di-xml.xml );
	property-text: text( assets/mock-di-text.txt );
	property-messages: messages( assets/mock-di-messages.properties );
	property-settings: settings( assets/mock-di-settings.properties );
}