Heading {
	text-transform: uppercase;
	size: 12;
	padding-top: 20;
}

SubHeading {
	text-transform: uppercase;
	underline: true;
	size: 10;
	border: border( 1,1,1,1,#ff0000,1 );
	padding: 5;
}

uppercase {
	text-transform: uppercase;
}

default-icon {
	icon: ref( default-icon-graphic );
}

default-icon:over, default-icon:down {
	icon: ref( default-icon-graphic-over );
}

default-icon-graphic {
	instance-class: class( com.ffsys.ui.suite.DefaultIcon );
}

default-icon-graphic-over {
	instance-class: class( com.ffsys.ui.suite.DefaultIconOver );
}

interactive-runtime-asset {
	asset: ref( default-icon-graphic );
}

interactive-runtime-asset:over, interactive-runtime-asset:down {
	asset: ref( default-icon-graphic-over );
}

page-heading {
	margin-top: 20;
	margin-bottom: 10;	
}

page-sub-heading {
	margin-bottom: 20;
}

example-group {
	margin-bottom: 10;
}