percentage-container {
	width: 100%;
	height: 100%;
}

percentage-parent-container {
	width: 50;
	height: 50;
	padding: 5;
}

package-heading {
	text-transform: uppercase;
	underline: true;
	size: 10;
	margin-top: 20;
}

.letter-spacing {
	letter-spacing: 10;
}

.inline-html-example {
	leading: 5;	
}

element {
	font: Courier;
	size: 11;
	color: #000000;
	padding-left: 5;
	padding-top: 5;
	padding-right: 5;
	padding-bottom: 5;
	text-transform: uppercase;
	background: ref( element-background );	
}

test-css-xml-namespace-bean {
	instance-class: class( com.ffsys.ui.graphics.RectangleGraphic );
	fill: fill( #ffffff, 1 );
	width: 25;
	height: 25;	
}

element-background {
	instance-class: class( com.ffsys.ui.graphics.RectangleGraphic );
	fill: fill( #ffffff, 1 );
}

note {
	size: 10;
}

uppercase {
	text-transform: uppercase;
}

lowercase {
	text-transform: lowercase;
}

underline {
	text-transform: underline;
}

default-icon {
	icon: ref( default-icon-graphic );
}

default-icon:over, default-icon:down {
	icon: ref( default-icon-graphic-over );
}

default-icon-graphic {
	instance-class: class( com.ffsys.ui.suite.DefaultIcon );
}

default-icon-graphic-over {
	instance-class: class( com.ffsys.ui.suite.DefaultIconOver );
}

interactive-runtime-asset {
	asset: ref( default-icon-graphic );
}

interactive-runtime-asset:over, interactive-runtime-asset:down {
	asset: ref( default-icon-graphic-over );
}

page-heading {
	margin-top: 0;
	margin-bottom: 0;	
}

example-group {
	margin-bottom: 0;
}

sub-heading-border-left {
	border: border( 0, 0, 0, 2, #ffffff, 1 );
	padding-left: 5;
}

sub-heading-border-example {
	text-transform: uppercase;
	underline: true;
	size: 10;
	border: border( 1, 1, 1, 1, #a9a9a9, 1 );
	padding: 5;
	margin-top: 0;
}

container-example {
	width: 40;
	height: 40;
}

container-border-example {
	border: border( 1, 1, 1, 1, #ffffff, .5 );	
}

#example-hbox, #example-vbox {
	padding: 5;
	spacing: 15;
	margin: 10;
}

box-example-container {
	border: border( 1, 1, 1, 1, #0000ff, .5 );
	width: 10;
	height: 10;
}

#box-model-example-target {
	width: 30;
	height: 30;
	padding: 5;
	margin: 5;
}

#outer-container, outer-container {
	padding: 5;
	display: inline;
}

inner-container {
	border: border( 1, 1, 1, 1, #0000ff, 1 );
	margin-left: 5;
	margin-right: 10;
}

container-border-background-example {
	background: ref( container-background );
}

container-background {
	instance-class: class( com.ffsys.ui.graphics.RectangleGraphic );
	fill: fill( #ffffff, .5 );
}

toggle-button-filter {
	size: 11;
	underline: false;
	color: #a9a9a9;
	padding: 5;
	icon: ref( check-box-icon );
	label.filters: null;
}

toggle-button-filter:disabled {	
	color: #636363;
	label.filters: null;	
}

toggle-button-filter:over, toggle-button-filter:down {
	color: #fefefe;
	label.filters: null;	
}

toggle-button-filter:selected {
	size: 11;
	underline: true;
	color: #efefef;
	padding: 5;
	icon: ref( check-box-icon-selected );
	label.filters: array( ref( heading-filter ) );
}

toggle-button-filter:selected:over, toggle-button-filter:selected:down {
	underline: true;
	color: #ffffff;
	icon: ref( check-box-icon-selected );
	label.filters: array( ref( heading-filter ) );
}

toggle-button-filter:selected:disabled {
	color: #636363;
	icon: ref( check-box-icon-selected );
	label.filters: array( ref( heading-filter ) );	
}

box-model-1 {
	padding: 2;
	margin: 2;
}