html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding:0px;
	font-family: Helvetica, Georgia, sans-serif;
	color: #ffffff;
	background-color: #000000;
}

#flash {
	margin-left: 20px;
}

#wrapper {
	padding: 0px;
	background-color: #030303;
}

#header {
	background-color: #030303;
	border-bottom: 2px solid #333333;
	padding-left: 20px;
	margin-bottom: 20px;
}

#locales {
	margin-bottom: 8px;
}

#locales ul {
	padding: 0px;
	margin: 0px;
	margin-bottom: 8px;
}

#locales ul li {
	float: left;
	padding-right: 5px;
	margin-right: 5px;
	list-style-type: none;
	border-right: 1px dotted #a9a9a9;
}

#locales ul li.last {
	border: none;
}

h1 {
	color: #a9a9a9;
	font-size: 1.0em;
}

p.note, ul li {
	color: #696969;
	margin-bottom: 0.4em;
	line-height: 1.4em;
	font-size: 0.6em;
}

a {
	color: #a9a9a9;
	text-decoration: none;
	border-bottom: 1px dotted #a9a9a9;
}

a:hover {
	color: #696969;
	border-bottom: 1px dotted #333;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}