html {
	padding: 0;
	margin: 0;	
}

body {
	padding: 20;
}

h1 {
	font-family: Helvetica, Georgia, sans-serif;	
	size: 20;
	color: #ffffff;
}

h2 {
	font-family: Helvetica, Georgia, sans-serif;	
	size: 18;
	color: #ffffff;
}

h3 {
	font-family: Helvetica, Georgia, sans-serif;	
	size: 16;
	color: #ffffff;
}

h4 {
	font-family: Helvetica, Georgia, sans-serif;	
	size: 14;
	color: #ffffff;
}

h5 {
	font-family: Helvetica, Georgia, sans-serif;	
	size: 12;
	color: #ffffff;
}

h6 {
	font-family: Helvetica, Georgia, sans-serif;	
	size: 10;
	color: #ffffff;
}

p {
	font-family: Helvetica, Georgia, sans-serif;	
	size: 20;
	width: 360;
	color: #ffffff;
	leading: 2;
}

Label {
	font: Arial;
	size: 12;
	embed-fonts: false;
	auto-size: left;
	color: #a9a9a9;
}

Document {
	padding: 20;
	display: block;
}

Document, TabContainer {
	spacing: 0;
	padding: 0;
	margin: 0;
}

HorizontalBox, VerticalBox, LinkContainer, ImageContainer {
	spacing: 5;
}

TextInput {
	font: Georgia;
	size: 12;
	embed-fonts: false;
	color: #000000;
	background: ref( text-input-background-main );
	padding: 5;
}

TextArea {
	font: Georgia;
	size: 12;
	embed-fonts: false;
	color: #000000;
	background: ref( text-input-background-main );
	padding: 5;	
}

text-input-background-main {
	instance-class: class( com.ffsys.ui.graphics.RoundedRectangleGraphic );
	fill: fill( #efefef, .8 );
	stroke: stroke( 1, #666666, 1, true, normal, null, null, 3 );
	corner-width: 5;
	corner-height: 5;
}

Heading {
	font: Arial;
	size: 16;
	embed-fonts: false;
	auto-size: left;
	color: #a9a9a9;	
}

HorizontalRule {
	graphic: ref( rule-graphic );
}

VerticalRule {
	graphic: ref( rule-graphic );
}

rule-graphic {
	instance-class: class( com.ffsys.ui.graphics.BorderGraphic );
	fill: fill( #333333, .75 );
}

TextButton, IconTextButton, IconButton {
	size: 11;
	underline: false;
	color: #a9a9a9;
}

TextButton:over, IconTextButton:over, IconButton:over {
	underline: true;
	color: #fefefe;
}

TextButton:disabled, IconTextButton:disabled, IconButton:disabled {
	color: #636363;
}

Button, IconButton, ToggleButton {
	size: 11;
	background: ref( button-background-main );
	underline: false;
	color: #a9a9a9;
	padding: 5;
}

Button:disabled, IconButton:disabled, ToggleButton:disabled {	
	background: ref( button-background-disabled );
	color: #636363;
}

Button:over, IconButton:over, ToggleButton:over, Button:down, IconButton:down, ToggleButton:down {
	background: ref( button-background-over );
	underline: true;
	color: #fefefe;
}

ToggleButton:selected {
	size: 11;
	background: ref( button-background-selected );
	underline: true;
	color: #ffffff;
	padding: 5;
}

ToggleButton:selected:over, ToggleButton:selected:down {
	background: ref( button-background-selected-over );
	underline: true;
	color: #ffffff;
}

button-background-main {
	instance-class: class( com.ffsys.ui.graphics.RoundedRectangleGraphic );
	fill: fill( #333333, .75 );
	corner-width: 5;
	corner-height: 5;
}

button-background-over {
	instance-class: class( com.ffsys.ui.graphics.RoundedRectangleGraphic );
	fill: fill( #a9a9a9, .75 );
	corner-width: 5;
	corner-height: 5;
}

button-background-selected {
	instance-class: class( com.ffsys.ui.graphics.RoundedRectangleGraphic );
	fill: fill( #696969, 1 );
	corner-width: 5;
	corner-height: 5;
}

button-background-selected-over {
	instance-class: class( com.ffsys.ui.graphics.RoundedRectangleGraphic );
	fill: fill( #a9a9a9, 1 );
	corner-width: 5;
	corner-height: 5;
}

button-background-disabled {
	instance-class: class( com.ffsys.ui.graphics.RoundedRectangleGraphic );
	fill: fill( #666666, .25 );
	corner-width: 5;
	corner-height: 5;
}

LinkButton {
	size: 11;
	background: ref( link-button-background-main );
	underline: false;
	color: #a9a9a9;
	padding: 5;
}

LinkButton:disabled {	
	background: ref( link-button-background-disabled );
	color: #6f6f6f;		
}

LinkButton:over {
	background: ref( link-button-background-over );
	underline: true;
	color: #fefefe;	
}

link-button-background-main {
	instance-class: class( com.ffsys.ui.graphics.RoundedRectangleGraphic );
	fill: fill( #333333, 1 );
}

link-button-background-over {
	instance-class: class( com.ffsys.ui.graphics.RoundedRectangleGraphic );
	fill: fill( #a9a9a9, .75 );
}

link-button-background-disabled {
	instance-class: class( com.ffsys.ui.graphics.RoundedRectangleGraphic );
	fill: fill( #666666, .25 );
}

TabButton {
	size: 11;
	background: ref( tab-button-background-main );
	underline: false;
	color: #a9a9a9;
	padding: 8;
}

TabButton:disabled {	
	background: ref( tab-button-background-disabled );
	color: #6f6f6f;
}

TabButton:over, TabButton:down {
	background: ref( tab-button-background-over );
	underline: true;
	color: #fefefe;
}

TabButton:selected {
	size: 11;
	background: ref( tab-button-background-selected );
	underline: true;
	color: #ffffff;
	padding: 8;
}

TabButton:selected:over, TabButton:selected:down {
	background: ref( tab-button-background-selected-over );
	underline: true;
	color: #ffffff;
}

tab-button-background-main {
	instance-class: class( com.ffsys.ui.graphics.BevelRectangleGraphic );
	fill: fill( #333333, 1 );
	top-right-corner: ref( tab-top-right-corner );
}

tab-button-background-selected {
	instance-class: class( com.ffsys.ui.graphics.BevelRectangleGraphic );
	fill: fill( #696969, 1 );
	top-right-corner: ref( tab-top-right-corner );
}

tab-button-background-selected-over {
	instance-class: class( com.ffsys.ui.graphics.BevelRectangleGraphic );
	fill: fill( #a9a9a9, 1 );
	top-right-corner: ref( tab-top-right-corner );
}

tab-button-background-over {
	instance-class: class( com.ffsys.ui.graphics.BevelRectangleGraphic );
	fill: fill( #a9a9a9, .75 );
	top-right-corner: ref( tab-top-right-corner );
}

tab-button-background-disabled {
	instance-class: class( com.ffsys.ui.graphics.BevelRectangleGraphic );
	fill: fill( #666666, .25 );
	top-right-corner: ref( tab-top-right-corner );	
}

tab-top-right-corner {
	instance-class: class( com.ffsys.ui.graphics.Corner );
	width: 6;
	height: 6;	
}

ImageDisplay {
	padding: 6;
	background: ref( image-display-background );
	border: border( 1, 1, 1, 1, #a9a9a9, 1 );
}

image-display-background {
	instance-class: class( com.ffsys.ui.graphics.RectangleGraphic );
	fill: ref( image-display-background-fill );
}

image-display-background-fill {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #000000;
	alpha: .65;
}

RadioButton {
	size: 11;
	underline: false;
	color: #a9a9a9;
	icon: ref( radio-button-icon );
	spacing: 5;
}

RadioButton:disabled {	
	color: #636363;
}

RadioButton:over, RadioButton:down {
	color: #fefefe;
}

RadioButton:selected {
	size: 11;
	underline: true;
	color: #efefef;
	icon: ref( radio-button-icon-selected );
}

RadioButton:selected:over, RadioButton:selected:down {
	underline: true;
	color: #ffffff;
	icon: ref( radio-button-icon-selected );	
}

RadioButton:selected:disabled {	
	color: #636363;
	icon: ref( radio-button-icon-selected );	
}

radio-button-icon {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( radio-button-background ) );
}

radio-button-icon-selected {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( radio-button-background ), ref( radio-button-foreground ) );
}

radio-button-background {
	instance-class: class( com.ffsys.ui.graphics.CircleGraphic );
	fill: fill( #a9a9a9, 1 );
	radius: 5;
}

radio-button-foreground {
	instance-class: class( com.ffsys.ui.graphics.CircleGraphic );
	fill: fill( #333333, 1 );
	radius: 3;
	x: 2;
	y: 2;
}

CheckBox {
	size: 11;
	underline: false;
	color: #a9a9a9;
	icon: ref( check-box-icon );
	spacing: 5;	
}

CheckBox:disabled {	
	color: #636363;	
}

CheckBox:over, CheckBox:down {
	color: #fefefe;
}

CheckBox:selected {
	size: 11;
	underline: true;
	color: #efefef;
	icon: ref( check-box-icon-selected );
}

CheckBox:selected:over, CheckBox:selected:down {
	underline: true;
	color: #ffffff;
	icon: ref( check-box-icon-selected );
}

CheckBox:selected:disabled {
	color: #636363;
	icon: ref( check-box-icon-selected );
}

check-box-icon {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( check-box-background ) );
}

check-box-icon-selected {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( check-box-background ), ref( check-box-foreground ) );
}

check-box-background {
	instance-class: class( com.ffsys.ui.graphics.RectangleGraphic );
	fill: fill( #a9a9a9, 1 );
	width: 9;
	height: 9;
}

check-box-foreground {
	instance-class: class( com.ffsys.ui.graphics.RectangleGraphic );
	fill: fill( #333333, 1 );
	width: 5;
	height: 5;
	x: 2;
	y: 2;
}

MaskComponent {
	background: ref( mask-background-graphic );	
}

mask-background-graphic {
	instance-class: class( com.ffsys.ui.graphics.RectangleGraphic );
	fill: fill( #ff0000, .75 );
}

em, i {
	font-style: italic;
	display: inline;
}

strong, b {
	font-weight: bold;
	display: inline;	
	color: \#ffffff;	
}

a {
	color: \#ffffff;
	text-decoration: none;
}

a:link {
	color: \#ffffff;
	text-decoration: none;
}

a:hover {
	color: \#a9a9a9;	
	text-decoration: underline;
}