Label {
	font: Arial;
	size: 12;
	embed-fonts: false;
	auto-size: left;
	word-wrap: false;
	multiline: false;
	color: #a9a9a9;
}

Paragraph {
	font: Arial;
	size: 13;
	embed-fonts: false;
	auto-size: left;
	word-wrap: true;
	multiline: true;
	color: #a9a9a9;
	preferred-width: 360;
	preferred-height: 120;
}

Heading {
	font: Arial;
	size: 16;
	embed-fonts: false;
	auto-size: left;
	word-wrap: false;
	multiline: false;
	color: #a9a9a9;
}

SubHeading {
	font: Arial;
	size: 14;
	embed-fonts: false;
	auto-size: left;
	word-wrap: false;
	multiline: false;
	color: #a9a9a9;
}

SubParagraph {
	font: Arial;
	size: 11;
	embed-fonts: false;
	auto-size: left;
	word-wrap: true;
	multiline: true;
	preferred-width: 360;
	preferred-height: 120;
	color: #a9a9a9;
}

TextButton, IconTextButton, IconButton {
	size: 11;
	underline: false;
	color: #a9a9a9;
}

TextButton:over, IconTextButton:over, IconButton:over {
	underline: true;
	color: #fefefe;
}

TextButton:disabled, IconTextButton:disabled, IconButton:disabled {
	color: #636363;
}

Button, IconButton, ToggleButton {
	size: 11;
	background: ref( button-background-main );
	underline: false;
	color: #a9a9a9;
	padding: 5;
}

Button:disabled, IconButton:disabled, ToggleButton:disabled {	
	background: ref( button-background-disabled );
	color: #636363;
}

Button:over, IconButton:over, ToggleButton:over, Button:down, IconButton:down, ToggleButton:down {
	background: ref( button-background-over );
	underline: true;
	color: #fefefe;
}

ToggleButton:selected {
	size: 11;
	background: ref( button-background-selected );
	underline: true;
	color: #ffffff;
	padding: 5;
}

ToggleButton:selected:over, ToggleButton:selected:down {
	background: ref( button-background-selected-over );
	underline: true;
	color: #ffffff;
}

button-background-main {
	instance-class: class( com.ffsys.ui.graphics.RoundedRectangleGraphic );
	fill: fill( #333333, .75 );
	corner-width: 5;
	corner-height: 5;
}

button-background-over {
	instance-class: class( com.ffsys.ui.graphics.RoundedRectangleGraphic );
	fill: ref( button-background-fill-over );
	corner-width: 5;
	corner-height: 5;
}

button-background-selected {
	instance-class: class( com.ffsys.ui.graphics.RoundedRectangleGraphic );
	fill: ref( button-background-fill-selected );
	corner-width: 5;
	corner-height: 5;
}

button-background-selected-over {
	instance-class: class( com.ffsys.ui.graphics.RoundedRectangleGraphic );
	fill: ref( button-background-fill-selected-over );
	corner-width: 5;
	corner-height: 5;
}

button-background-disabled {
	instance-class: class( com.ffsys.ui.graphics.RoundedRectangleGraphic );
	fill: ref( button-background-fill-disabled );
	corner-width: 5;
	corner-height: 5;
}

button-background-fill-over {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #a9a9a9;
	alpha: 0.75;
}

button-background-fill-selected {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #696969;
	alpha: 1;
}

button-background-fill-selected-over {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #a9a9a9;
	alpha: 1;
}

button-background-fill-disabled {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #666666;
	alpha: .25;
}

LinkButton {
	size: 11;
	background: ref( link-button-background-main );
	underline: false;
	color: #a9a9a9;
	padding: 5;
}

LinkButton:disabled {	
	background: ref( link-button-background-disabled );
	color: #6f6f6f;		
}

LinkButton:over {
	background: ref( link-button-background-over );
	underline: true;
	color: #fefefe;	
}

link-button-background-main {
	instance-class: class( com.ffsys.ui.graphics.RoundedRectangleGraphic );
	fill: ref( link-button-background-fill );
}

link-button-background-over {
	instance-class: class( com.ffsys.ui.graphics.RoundedRectangleGraphic );
	fill: ref( link-button-background-fill-over );
}

link-button-background-disabled {
	instance-class: class( com.ffsys.ui.graphics.RoundedRectangleGraphic );
	fill: ref( link-button-background-fill-disabled );
}

link-button-background-fill {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #333333;
	alpha: 1;
}

link-button-background-fill-over {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #a9a9a9;
	alpha: 0.75;
}

link-button-background-fill-disabled {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #666666;
	alpha: .25;
}

TabButton {
	size: 11;
	background: ref( tab-button-background-main );
	underline: false;
	color: #a9a9a9;
	padding: 8;
}

TabButton:disabled {	
	background: ref( tab-button-background-disabled );
	color: #6f6f6f;
}

TabButton:over, TabButton:down {
	background: ref( tab-button-background-over );
	underline: true;
	color: #fefefe;
}

TabButton:selected {
	size: 11;
	background: ref( tab-button-background-selected );
	underline: true;
	color: #ffffff;
	padding: 8;
}

TabButton:selected:over, TabButton:selected:down {
	background: ref( tab-button-background-selected-over );
	underline: true;
	color: #ffffff;
}

tab-button-background-main {
	instance-class: class( com.ffsys.ui.graphics.BevelRectangleGraphic );
	fill: ref( tab-button-background-fill );
	top-right-corner: ref( tab-top-right-corner );
}

tab-button-background-selected {
	instance-class: class( com.ffsys.ui.graphics.BevelRectangleGraphic );
	fill: ref( tab-button-background-fill-selected );
	top-right-corner: ref( tab-top-right-corner );
}

tab-button-background-selected-over {
	instance-class: class( com.ffsys.ui.graphics.BevelRectangleGraphic );
	fill: ref( tab-button-background-fill-selected-over );
	top-right-corner: ref( tab-top-right-corner );
}

tab-button-background-over {
	instance-class: class( com.ffsys.ui.graphics.BevelRectangleGraphic );
	fill: ref( tab-button-background-fill-over );
	top-right-corner: ref( tab-top-right-corner );	
}

tab-button-background-disabled {
	instance-class: class( com.ffsys.ui.graphics.BevelRectangleGraphic );
	fill: ref( tab-button-background-fill-disabled );
	top-right-corner: ref( tab-top-right-corner );	
}

tab-button-background-fill {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #333333;
	alpha: 1;
}

tab-button-background-fill-over {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #a9a9a9;
	alpha: 0.75;
}

tab-button-background-fill-selected {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #696969;
	alpha: 1;
}

tab-button-background-fill-selected-over {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #a9a9a9;
	alpha: 1;
}

tab-button-background-fill-disabled {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #666666;
	alpha: .25;
}

tab-top-right-corner {
	instance-class: class( com.ffsys.ui.graphics.Corner );
	width: 6;
	height: 6;	
}

ImageDisplay {
	padding: 6;
	background: ref( image-display-background );
	border: border( 1, 1, 1, 1, #a9a9a9, 1 );
}

image-display-background {
	instance-class: class( com.ffsys.ui.graphics.RectangleGraphic );
	fill: ref( image-display-background-fill );
}

image-display-background-fill {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #000000;
	alpha: .65;
}

RadioButton {
	size: 11;
	underline: false;
	color: #a9a9a9;
	padding: 5;
	icon: ref( radio-button-icon );
}

RadioButton:disabled {	
	color: #636363;
}

RadioButton:over, RadioButton:down {
	color: #fefefe;
}

RadioButton:selected {
	size: 11;
	underline: true;
	color: #efefef;
	padding: 5;
	icon: ref( radio-button-icon-selected );
}

RadioButton:selected:over, RadioButton:selected:down {
	underline: true;
	color: #ffffff;
	icon: ref( radio-button-icon-selected );	
}

RadioButton:selected:disabled {	
	color: #636363;
	icon: ref( radio-button-icon-selected );	
}

radio-button-icon {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( radio-button-background ) );
}

radio-button-icon-selected {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( radio-button-background ), ref( radio-button-foreground ) );
}

radio-button-background {
	instance-class: class( com.ffsys.ui.graphics.CircleGraphic );
	fill: ref( radio-button-background-fill );
	radius: 5;
}

radio-button-foreground {
	instance-class: class( com.ffsys.ui.graphics.CircleGraphic );
	fill: ref( radio-button-foreground-fill );
	radius: 3;
	x: 2;
	y: 2;
}

radio-button-background-fill {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #a9a9a9;
	alpha: 1;
}

radio-button-foreground-fill {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #333333;
	alpha: 1;
}

CheckBox {
	size: 11;
	underline: false;
	color: #a9a9a9;
	padding: 5;
	icon: ref( check-box-icon );
}

CheckBox:disabled {	
	color: #636363;
}

CheckBox:over, CheckBox:down {
	color: #fefefe;
}

CheckBox:selected {
	size: 11;
	underline: true;
	color: #efefef;
	padding: 5;
	icon: ref( check-box-icon-selected );
}

CheckBox:selected:over, CheckBox:selected:down {
	underline: true;
	color: #ffffff;
	icon: ref( check-box-icon-selected );	
}

CheckBox:selected:disabled {	
	color: #636363;
	icon: ref( check-box-icon-selected );	
}

check-box-icon {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( check-box-background ) );
}

check-box-icon-selected {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( check-box-background ), ref( check-box-foreground ) );
}

check-box-background {
	instance-class: class( com.ffsys.ui.graphics.RectangleGraphic );
	fill: ref( check-box-background-fill );
	preferred-width: 9;
	preferred-height: 9;
}

check-box-foreground {
	instance-class: class( com.ffsys.ui.graphics.RectangleGraphic );
	fill: ref( check-box-foreground-fill );
	preferred-width: 5;
	preferred-height: 5;
	x: 2;
	y: 2;
}

check-box-background-fill {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #a9a9a9;
	alpha: 1;
}

check-box-foreground-fill {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #333333;
	alpha: 1;
}