up-button {
	icon: ref( up-arrow-icon );
	padding: 6;
	background: ref( image-display-background );
	preferred-width: 20;
	preferred-height: 20;	
}

down-button {
	icon: ref( down-arrow-icon );
	padding: 6;
	background: ref( image-display-background );
	preferred-width: 20;
	preferred-height: 20;
}

left-button {
	icon: ref( left-arrow-icon );
	padding: 6;
	background: ref( image-display-background );
	preferred-width: 20;
	preferred-height: 20;
}

right-button {
	icon: ref( right-arrow-icon );
	padding: 6;
	background: ref( image-display-background );
	preferred-width: 20;
	preferred-height: 20;
}

up-button:over, up-button:down {
	icon: ref( up-arrow-icon-over );
	background: ref( image-display-background-over );	
}

down-button:over, down-button:down {
	icon: ref( down-arrow-icon );
	background: ref( image-display-background-over );	
}

left-button:over, left-button:down {
	icon: ref( left-arrow-icon );
	background: ref( image-display-background-over );	
}

right-button:over, right-button:down {
	icon: ref( right-arrow-icon );
	background: ref( image-display-background-over );	
}

image-display-background {
	instance-class: class( com.ffsys.ui.graphics.RectangleGraphic );
	fill: ref( graphic-button-background-fill );
}

image-display-background-over {
	instance-class: class( com.ffsys.ui.graphics.RectangleGraphic );
	fill: ref( graphic-button-background-fill-over );
}

graphic-button-background-fill {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #333333;
	alpha: 0.75;
}

graphic-button-background-fill-over {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #a9a9a9;
	alpha: 0.75;
}

up-arrow-icon {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( up-arrow-icon-graphic ) );
	alpha: .5;	
}

up-arrow-icon-over {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( up-arrow-icon-graphic ) );
	alpha: 1;	
}

down-arrow-icon {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( down-arrow-icon-graphic ) );
	alpha: .5;		
}

down-arrow-icon-over {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( down-arrow-icon-graphic ) );
	alpha: 1;	
}

left-arrow-icon {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( left-arrow-icon-graphic ) );
	alpha: .5;		
}

left-arrow-icon-over {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( left-arrow-icon-graphic ) );
	alpha: 1;	
}

right-arrow-icon {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( right-arrow-icon-graphic ) );
	alpha: .5;		
}

right-arrow-icon-over {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( right-arrow-icon-graphic ) );
	alpha: 1;	
}

up-arrow-icon-graphic {
	instance-class: class( com.ffsys.ui.graphics.ArrowGraphic );
	fill: ref( graphic-icon-fill );
	orientation: top;
	preferred-width: 8;
	preferred-height: 8;
}

down-arrow-icon-graphic {
	instance-class: class( com.ffsys.ui.graphics.ArrowGraphic );
	fill: ref( graphic-icon-fill );
	orientation: bottom;
	preferred-width: 8;
	preferred-height: 8;
}

left-arrow-icon-graphic {
	instance-class: class( com.ffsys.ui.graphics.ArrowGraphic );
	fill: ref( graphic-icon-fill );
	orientation: left;
	preferred-width: 8;
	preferred-height: 8;
}

right-arrow-icon-graphic {
	instance-class: class( com.ffsys.ui.graphics.ArrowGraphic );
	fill: ref( graphic-icon-fill );
	orientation: right;
	preferred-width: 8;
	preferred-height: 8;
}

graphic-icon-fill {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #a9a9a9;
	alpha: 1;
}