HorizontalScrollBar {
	background: ref( scroll-bar-background );
	padding: 1;
	height: 14;
}

VerticalScrollBar {
	background: ref( scroll-bar-background );
	padding: 1;
	width: 14;
}

ScrollTrack {
	background: ref( scroll-track-background );
}

ScrollDrag {
	background: ref( scroll-drag-background );
}

ScrollUpButton {
	background: ref( scroll-button-background-main );
	icon: ref( scroll-up-arrow-icon );
}

ScrollDownButton {
	background: ref( scroll-button-background-main );
	icon: ref( scroll-down-arrow-icon );
}

ScrollLeftButton {
	background: ref( scroll-button-background-main );
	icon: ref( scroll-left-arrow-icon );
}

ScrollRightButton {
	background: ref( scroll-button-background-main );
	icon: ref( scroll-right-arrow-icon );
}

ScrollUpButton:disabled, ScrollDownButton:disabled, ScrollLeftButton:disabled, ScrollRightButton:disabled {	
	background: ref( scroll-button-background-disabled );
}

ScrollUpButton:over, ScrollDownButton:over, ScrollUpButton:down, ScrollDownButton:down, ScrollLeftButton:over, ScrollRightButton:over, ScrollLeftButton:down, ScrollRightButton:down {
	background: ref( scroll-button-background-over );
}

scroll-bar-background {
	instance-class: class( com.ffsys.ui.graphics.RectangleGraphic );
	fill: fill( #a9a9a9, .75 );
}

scroll-track-background {
	instance-class: class( com.ffsys.ui.graphics.RectangleGraphic );
	fill: fill( #2a2a2a, .5 );
}

scroll-drag-background {
	instance-class: class( com.ffsys.ui.graphics.RectangleGraphic );
	fill: fill( #363636, .75 );
}

scroll-button-background-main {
	instance-class: class( com.ffsys.ui.graphics.RectangleGraphic );
	fill: fill( #333333, .75 );
}

scroll-button-background-over {
	instance-class: class( com.ffsys.ui.graphics.RectangleGraphic );
	fill: fill( #a9a9a9, .75 );
}

scroll-button-background-selected {
	instance-class: class( com.ffsys.ui.graphics.RectangleGraphic );
	fill: fill( #696969, 1 );
}

scroll-button-background-disabled {
	instance-class: class( com.ffsys.ui.graphics.RectangleGraphic );
	fill: fill( #666666, .25 );
}

scroll-up-arrow-icon {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( scroll-up-arrow-icon-graphic ) );
}

scroll-down-arrow-icon {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( scroll-down-arrow-icon-graphic ) );
}

scroll-left-arrow-icon {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( scroll-left-arrow-icon-graphic ) );
}

scroll-right-arrow-icon {
	instance-class: class( com.ffsys.ui.core.UIComponent );
	layers: array( ref( scroll-right-arrow-icon-graphic ) );
}

scroll-up-arrow-icon-graphic {
	instance-class: class( com.ffsys.ui.graphics.ArrowGraphic );
	fill: ref( scroll-icon-fill );
	orientation: top;
	width: 6;
	height: 4;
}

scroll-down-arrow-icon-graphic {
	instance-class: class( com.ffsys.ui.graphics.ArrowGraphic );
	fill: ref( scroll-icon-fill );
	orientation: bottom;
	width: 6;
	height: 4;
}

scroll-left-arrow-icon-graphic {
	instance-class: class( com.ffsys.ui.graphics.ArrowGraphic );
	fill: ref( scroll-icon-fill );
	orientation: left;
	width: 4;
	height: 6;
}

scroll-right-arrow-icon-graphic {
	instance-class: class( com.ffsys.ui.graphics.ArrowGraphic );
	fill: ref( scroll-icon-fill );
	orientation: right;
	width: 4;
	height: 6;
}

scroll-icon-fill {
	instance-class: class( com.ffsys.ui.graphics.SolidFill );
	color: #a9a9a9;
	alpha: 1;
}