bevel {
	filter-class: class( flash.filters.BevelFilter );
	distance: 1;
	highlight-color: #ff0000;
	shadow-color: #666666;
	shadow-alpha: 0.6;
	knockout: true;
	blur-x: 1;
	blur-y: 1;
	strength: 1;
}

drop-shadow {
	filter-class: class( flash.filters.DropShadowFilter );
	angle: 45;
	color: #00ff00;
	blur-x: 3;
	blur-y: 3;
	strength: .55;
	alpha: .5;
}