Document {
	padding-left: 20;
}

Cell {
	padding: 10;
}

Label, Button {
	color: #a9a9a9;
	font: main;
	size: 12;
	embed-fonts: true;
	auto-size: left;
	anti-alias-type: advanced;
}

test-label {
	color: #ff6600;
}

test-text {
	color: #a9a9a9;
	font: main;
	size: 16;
	embed-fonts: true;
	auto-size: left;
	anti-alias-type: advanced;
	word-wrap: true;
	mutiline: true;
	width: 250;
}

#vbox {
	padding-left: 20;
}

dependency-test-style {
	property-bitmap: img( assets/common/images/mock-css-image.jpg );
	property-sound: sound( assets/common/sounds/mock-css-sound.mp3 );
	property-movie: swf( assets/common/swf/mock-css-movie.swf );
}

lbl {
	maximum-width: 120;
}

#copy {
	size: 12;
}

copy {
	color: #ff0000;
}

copy-override {
	color: #0000ff;
}

container-view {
	x: 250;
	y: 100;
}