application {
	instance-class: class( com.ffsys.swat.mock.MockApplicationController );
	singleton: true;
	configuration: ref( configuration );
	rectangle: ref( rectangle );
}

document-level-file-dependencies {
	property-xml: xml( mock-assets/common/xml/mock-xml.xml );
	property-text: text( mock-assets/common/text/mock-text.txt );
	property-messages: messages( mock-assets/common/properties/mock-messages.properties );	
}

bean-level-file-dependencies {
	file-policy: bean;
	instance-class: class( com.ffsys.swat.mock.MockFileLoaderBean );
	property-bitmap: img( mock-assets/common/images/mock-css-image.jpg );
	property-sound: sound( mock-assets/common/sounds/mock-css-sound.mp3 );
	property-movie: swf( mock-assets/common/swf/mock-css-movie.swf );
	property-xml: xml( mock-assets/common/xml/mock-xml.xml );
	property-text: text( mock-assets/common/text/mock-text.txt );
	property-font: font( mock-assets/common/fonts/mock-fonts.swf );
	property-messages: messages( mock-assets/common/properties/mock-messages.properties );
}