test-style {
	property-string: a test string;
	property-number: 10;
	property-float: 1.67;
	property-true: true;
	property-false: false;
	property-null: null;
	property-undefined: undefined;
	property-nan: NaN;
	property-array: apples, 10, 3.14, true;
	property-class: class ( flash.display.Sprite );
	property-url: url ( /assets/file.css );
	property-bitmap: img( mock-css-image.jpg );
	property-sound: sound( mock-css-sound.mp3 );
	property-movie: swf( mock-css-movie.swf );
}

.bluetext {
	color: #ffffff;
}

#ident {
	color: #ff6600;
}

one, two {
	font: Arial;
}

#logo:over {
	color: #336699;
}